body {
    margin: 0;
}

.item1 {
    background-image: url(images/background.jpg);
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

h1 {
    font-size: 6rem;
    text-decoration: underline;
}

blockquote {
    font-size: 2rem;
    padding-bottom: 5%;
}

.item2 {
    background: #000000;
    text-align: center;
}

.item3 {
    background-color: rgb(49, 48, 48);
    background-size: cover;
    font-size: 1rem;
    color: #ffffff;
}

h2 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

.item4 {
    background-color: black;
    text-align: center;
    font-size: 1rem;
    padding: 50px;
    color: #ffffff;
}

.container {
    width: 100%;
    display: grid;
}